nav {
    width: 100%;
    height: 115px;
    background-image: url('wall.jpg');
}

h3 {
    color: white;
    text-align: right;
    font-size: 130%;
    font-weight: 700;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    margin: 0;
    padding-top: 2%;
    padding-right: 2%;
}

.wot:hover, .bbb:hover {
    color: black;
    cursor: pointer;
}

#vv {
    background-image: url('wlle.jpg');
    height: 596px;
    width: 796px;
    margin: auto;
    background-repeat: no-repeat;
    border: solid 2px black;
}

#vvv {
    background-color: black;
}

#v {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 160px;
    box-shadow: -7px -7px 0 #000, 7px -7px 0 #000, -7px 7px 0 #000, 7px 7px 0 #000;
}

#f3 {
    margin: auto;
    width: 400px;
    text-align: center;
    background-color: rgb(111, 26, 189);
    border: solid 2px black;
}

#vdel {
    height: 51px;
    color: white;
    cursor: pointer;
    background-color: rgb(111, 26, 189);
    border: initial;
    font-size: inherit;
    text-align: center;
}

#vdel::-webkit-input-placeholder, #vdel::placeholder {
    color: white;
}

.aaa {
    color: rgb(231, 200, 0);
}

.boo:hover {
    color: green;
    cursor: pointer;
}

.baa:hover {
    color: white;
    cursor: pointer;
}

@media screen and (max-device-width: 980px) {
    #di {
        max-width: 980px;
    }
}