.wot:hover,
.bbb:hover {
  color: black;
  cursor: pointer;
}

#vv {
  background-image: url("wlle.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 75%;
  height: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7.5%;
  margin: 6% auto;
}
#vvv {
  margin: auto;
  height: initial;
  max-height: 485px;
  width: 75%;
  background-color: transparent;
  outline: none;
}

#v {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 160px;
  box-shadow: -7px -7px 0 #000, 7px -7px 0 #000, -7px 7px 0 #000, 7px 7px 0 #000;
}

#f3 {
  margin: auto;
  min-width: 218px;
  width: 20%;
  text-align: center;
  background-color: rgb(111, 26, 189);
  border: solid 1px black;
}

#vdel {
  height: 51px;
  color: white;
  cursor: pointer;
  background-color: rgb(111, 26, 189);
  font-size: inherit;
  text-align: center;
  border: none;
}

#vdel::-webkit-input-placeholder,
#vdel::placeholder {
  color: white;
}

.aaa {
  color: rgb(231, 200, 0);
}

.boo:hover {
  color: green;
  cursor: pointer;
}

.baa:hover {
  color: white;
  cursor: pointer;
}

#cent0 {
  padding: initial;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  #vv {
    width: 90%;
  }
  #vvv {
    width: 90%;
  }
}
