#h1 {
  color: white;
  text-align: center;
  font-size: 26.5px;
  font-weight: 700;
  padding: 0;
  margin: auto;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  margin-top: 17.5%;
}

#h2 {
  color: white;
  text-align: left;
  font-size: 26.5px;
  font-weight: 700;
  margin: 1% auto;
}

#l1 {
  background-image: url("wall.jpg");
  background-position: center;
  background-size: cover;
  border: solid 2px black;
}

#lo {
  margin: auto;
  width: 20%;
  min-width: 220px;
  background-color: rgb(111, 26, 189);
  color: white;
  clear: both;
  border: solid 2px black;
}

.hun {
  width: 100%;
}
