.m {
  height: 75px;
  background-color: black;
  z-index: 999;
  width: 100%;
}

.m span {
  font-size: 17.5px;
  color: white;
  line-height: 75px;
  cursor: pointer;
  padding: 0 10px;
}

.m span:hover {
  color: rgb(231, 200, 0);
}

@media only screen and (max-width: 1200px) {
  .m span {
    display: block;
    line-height: 25px;
  }
  .m {
    height: initial;
    text-align: center;
  }
}
