.m {
  height: 50px;
  background-color: black;
  z-index: 999;
  width: 100%;
}

.m0 {
  margin-left: 50px;
  height: inherit;
}

.m1 {
  height: inherit;
  float: right;
  margin-right: 50px;
}

.m1 span, .m0 span {
  font-size: 17.5px;
  color: white;
  line-height: 50px;
  cursor: pointer;
}

.m span:hover {
  color: rgb(231, 200, 0);
}