.mss {
  padding: initial;
  text-align: center;
}

#f0,
#f1 {
  margin: auto;
  width: 218px;
  text-align: center;
  background-color: rgb(111, 26, 189);
  border: solid 1px black;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  width: 100%;
  display: inline-block;
  color: white;
  cursor: pointer;
}

#del {
  height: 51px;
  color: white;
  cursor: pointer;
  background-color: rgb(111, 26, 189);
  font-size: inherit;
  text-align: center;
  width: 212px;
  border: none;
}

#del::-webkit-input-placeholder,
#del::placeholder {
  color: white;
}

@media screen and (max-device-width: 980px) {
  #di {
    max-width: 980px;
  }
}
